<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
    
        <input
        #searchInput
        type="text"
        class="form-control me-2"
        placeholder="Search by username or role"
        style="width: 300px;"
        />

        <select class="form-select w-auto" (change)="onSelectChange($event)">
            <option *ngFor="let role of roles">{{ role }}</option>
        </select>

    </div>

    <!-- <div class="table-responsive"> -->
        <table class="table table-hover align-middle shadow-sm mt-4">
            <thead class="bg-light">
            <tr>
                <th>Profile</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>State</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of filteredUsers" class="hover-scale">
                <td>
                <img
                    [src]="user.image  || 'https://via.placeholder.com/50'"
                    alt="User Image"
                    width="50"
                    height="50"
                    class="rounded-circle border border-2"
                    style="object-fit: cover;"
                />
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.state }}</td>
            </tr>
            </tbody>
        </table>
    <!-- </div> -->

    <div *ngIf="filteredUsers.length === 0" class="text-center text-danger mt-4">
        No users found matching the criteria.
    </div>
</div>
