/* .fade-in{
    opacity: 0;
    animation: fadeIn 01s ease-in forwards;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
} */

.custom-col {
  width: 20%;
  padding: 0 0.5rem;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  padding: 0;
  text-align: center;
  line-height: 48px;
}


@media (max-width: 1200px) {
  .custom-col {
    width: 25%; /* 4 per row */
  }
}

@media (max-width: 992px) {
  .custom-col {
    width: 33.33%; /* 3 per row */
  }
}

@media (max-width: 768px) {
  .custom-col {
    width: 50%; /* 2 per row */
  }
}

@media (max-width: 576px) {
  .custom-col {
    width: 100%; /* 1 per row */
  }
}


