# Ignore build output
bin/
obj/

# Ignore Visual Studio user-specific files and folders
.vs/

# macOS system files|
.DS_Store

# Ignore all launch profiles
**/Properties/launchSettings.json

# Ignore development config files
**/appsettings.Development.json
**/appsettings.Local.json

# Ignore .http request files used in VS REST Client
**/*.http
