.discount-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  margin-top: 50px;
}

.discount-modal-content {
  background: var(--color-white);
  border-radius: 8px;
  position: relative;
}