.product-card {
  border: 1px solid #ccc;
  padding: 16px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #8346d3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #6719ba;
}
