<div class="card property-card shadow-sm mb-4" [ngClass]="{ 'selected': selected }">

  <div class="col-md-4 property-img-container position-relative">
    <img
      [src]="property.imageUrls?.length ? apiBaseUrl + '/' + property.imageUrls[0]
                                        : 'https://media.istockphoto.com/id/1222357475/vector/image-preview-icon-picture-placeholder-for-website-or-ui-ux-design-vector-illustration.jpg?s=612x612&w=0&k=20&c=KuCo-dRBYV7nz2gbk4J9w1WtTAgpTdznHu55W9FjimE='"
      class="img-fluid property-image"
      [alt]="property.title"
    />

    <div
      *ngIf="property.status === 'Sold' || property.status === 'Rented'"
      class="ribbon"
      [ngClass]="{'ribbon-sold': property.status === 'Sold', 'ribbon-rented': property.status === 'Rented'}"
    >
      {{ property.status }}
    </div>
  </div>


  <div class="col-md-8 d-flex flex-column justify-content-between p-3 content-wrapper">
    <div class="row-1 mb-3">
      <h5 class="mb-1 text-dark">{{ property.title }}</h5>
      <p class="text-muted small mb-0">
        <i class="bi bi-geo-alt-fill me-1"></i>
        <span class="key-feature-name">{{ property.location.locality }}, {{ property.location.city }}, {{ property.location.state }}</span>  
      </p>
    </div>

    <div class="row-2 d-flex flex-row justify-content-between mb-3 flex-wrap">

      <div class="col-md-4">
        <p class="fw-semibold mb-1 key-feature-name">₹ {{ property.price | number }}</p>
        <p class="text-muted small mb-1">
         <i class="bi bi-aspect-ratio me-1 fs-6"></i>

          <span class="key-feature-name">Area - {{ property.areaSqFt }} sqft</span>
        </p>
        <p class="text-muted small mb-1">
          <i class="bi bi-building me-1 fs-6"></i>
          <span class="key-feature-name">{{ property.propertyType }} for {{ property.listingPurpose }}</span>
        </p>

        <ng-container *ngIf="context !== 'lister'">
          <p class="text-muted small mb-2">
            <i class="bi bi-person-fill me-1 fs-6"></i>
            <span class="key-feature-name">Posted by {{ property.listerType }}</span>
          </p>
        </ng-container>
      </div>

      <div class="col-md-8">
        <div class="d-grid gap-2 feature-grid">
          <div
            *ngFor="let feature of topFeaturesExcludingAmenities | slice:0:6"
            class="border rounded px-2 py-1 small feature-box"
          >
            <div class="text-muted small d-flex align-items-center">
              <!-- <i [ngClass]="getFeatureIcon(feature.featureName)" class="me-1 "></i> -->
               <i class="fa-solid me-2 fs-7" [ngClass]="iconMap[feature.featureName] || 'fa-circle-info'"></i>
               <span class="feature-name">{{ feature.featureName }}</span>
            </div>
            <strong class="">{{ formatFeatureValues(feature.values) }}</strong>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="amenitiesFeature as amenity" class="row-3 mb-2 small">
      <span class="text-muted me-1">
        <i class="bi bi-stars text-primary"></i> Amenities:
      </span>
      <span class="fw-semibold">
        {{ amenity.values?.length ? amenity.values.join(', ') : '—' }}
      </span>
    </div>

    <div class="row-4 d-flex justify-content-center gap-3 mt-auto pt-2">
      <ng-container *ngIf="context === 'public'">
        <button class="btn btn-outline-primary responsive-btn" [routerLink]="['/property', property.id]">View Details</button>
        <button class="btn btn-primary responsive-btn" (click)="onContactClick()">Contact {{ property.listerType }}</button>
         <button class="btn btn-warning responsive-btn" (click)="compareClicked.emit(property)">
    {{ selected ? 'Remove' : 'Compare' }}
  </button>
      </ng-container>

      <ng-container *ngIf="context === 'lister'">
        <button class="btn btn-primary responsive-btn" [routerLink]="['/property', property.id, 'inquiries']">View Inquiries</button>
        <button class="btn btn-outline-primary responsive-btn" [routerLink]="['/property', property.id]">View/Edit Details</button>
        <button class="btn btn-secondary responsive-btn" [routerLink]="['/property', property.id, 'upload-images']">Add Images</button>
      </ng-container>
    </div>
  </div>
</div>
