.guideline-card {
  background: linear-gradient(135deg, #ffffff, #f7fffe);
  border-left: 5px solid #088178;
  border-radius: 12px;
  padding: 20px 30px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}

.guideline-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
}

.icon-wrap {
  background: linear-gradient(145deg, #0FC2B4, #088178);
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrap i{
    font-size: 25px;
}
.card-title {
  font-size: 17px;
  font-weight: 600;
  color: #06675F;
}
.card-text {
  font-size: 13px;
  color: #444;
  line-height: 1.5;
}
