 <section class="property-section py-5" id="card">
    <div class="container-fluid px-4">
      <h2 class="fw-bold text-dark text-center mb-5">Apartments, Villas and more</h2>
        <div class="d-flex flex-wrap justify-content-center gap-4">
            <div 
                *ngFor="let item of propertyTypes"
                class="property-card-img position-relative text-white"
                [style.background-image]="'url(' + item.imageUrl + ')'"
                (click)="navigateToProperties(item.type)">
                
                <div class="top-gradient position-absolute top-0 start-0 w-100 h-50" style="height: 80px;"></div>
                <div class="property-info position-absolute top-0 start-0 p-3 z-1">
                    <h5 class="fw-bold mb-1">{{ item.name }}</h5>
                    <p class="mb-0">40+ Sites</p>
                </div>
            </div>
        </div>
    </div>
</section>
