<div class="container mt-4">
  <h2 class="mb-0 text-center">Features</h2>

  <div *ngIf="loading" class="text-center">
    <p>Loading...</p>
  </div>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <div class="d-flex justify-content-end align-items-center mb-3">
    <button class="btn btn-outline-primary responsive-btn" (click)="openFeatureModal()">+ Add Feature</button>
  </div>

    <div class="custom-scroll-wrapper shadow">
    <table *ngIf="!loading && features.length > 0" class="table table-hover align-middle hover-table">
      <thead class="sticky-header">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Data Type</th>
        <th>Filter Mode</th>
        <th>Options</th>
        <th>Property Types</th>
        <th>Listing Purposes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feature of features; let i = index">
        <td>{{ i + 1 }}</td>
        <td><div class="fw-semibold">{{ feature.name }}</div></td>
        <td>{{ feature.dataType }}</td>
        <td>{{ feature.filterMode }}</td>
        <td>
          <ul *ngIf="feature.options?.length; else noOptions">
            <li *ngFor="let opt of feature.options">{{ opt.value }}</li>
          </ul>
          <ng-template #noOptions><span class="text-muted">-</span></ng-template>
        </td>
        <td>
          <span *ngFor="let type of getTypes(feature)" class="badge bg-primary me-1">{{ type }}</span>
        </td>
        <td>
          <span *ngFor="let purpose of getPurposes(feature)" class="badge bg-info me-1">{{ purpose }}</span>
        </td>
        <td style="white-space: nowrap; min-width: 120px;">
          <div class="d-inline-flex gap-2">
            <button class="btn btn-sm btn-primary" (click)="onEdit(feature)">
              <i class="fas fa-edit"></i>
            </button>

            <button class="btn btn-sm btn-danger" (click)="onDelete(feature.id)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
  </div>

  <div *ngIf="!loading && features.length === 0" class="text-muted">
    No features available.
  </div>

  <app-admin-feature-form
    [show]="showFeatureModal"
    [featureToEdit]="featureToEdit"
    (close)="handleFeatureModalClose($event)">
  </app-admin-feature-form>


</div>
