.recipe-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.recipe-image {
  height: 180px;
  object-fit: cover;
}

.rating i {
  font-size: rem;
  margin-right: 2px;
}

.prep-cook-footer {
  background-color: #49a1ee; 
}


