<div class="main-bg d-flex justify-content-center align-items-center">
  <div class="login-wrapper d-flex shadow-lg flex-wrap">
    <!-- Left Side -->
    <div class="py-5 d-flex flex-column justify-content-center align-items-center w-50">
      <div class="bg-white bg-opacity-75">
        <h3 class="text-center mb-4 text-teal">Create Account</h3>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="mb-3 position-relative">
            <i class="fa-solid fa-user input-icon"></i>
            <input type="text" class="form-control custom-input ps-5" formControlName="name" placeholder="Full Name" />
            <small *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
              Name must be at least 3 characters
            </small>
          </div>

          <div class="mb-3 position-relative">
            <i class="fa-solid fa-envelope input-icon"></i>
            <input type="email" class="form-control custom-input ps-5" formControlName="email" placeholder="Email address" />
            <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
              Valid email is required
            </small>
          </div>

          <div class="mb-3 position-relative">
            <i class="fa-solid fa-lock input-icon"></i>
            <input  [type]="showPassword ? 'text' : 'password'" class="form-control custom-input ps-5" formControlName="password" placeholder="Password" />
             <span class="toggle-password" (click)="togglePassword()">
              <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </span>
            <small *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
              Password must be at least 6 characters
            </small>
          </div>

          <div class="mb-3 position-relative">
            <i class="fa-solid fa-phone input-icon"></i>
            <input type="text" class="form-control custom-input ps-5" formControlName="phoneNumber" placeholder="Phone Number" />
          </div>

          <div class="mb-5">
            <select class="form-select custom-input" formControlName="role">
              <option value="Buyer">Buyer</option>
              <option value="Lister">Lister</option>
            </select>
          </div>

          <button type="submit" id="main-btn" class="btn w-100" [disabled]="registerForm.invalid">Register</button>

          <p *ngIf="errorMessage" class="text-danger text-center mt-3">{{ errorMessage }}</p>
        </form>

        <div class="text-center mt-4" style="font-size: 15px;">
          Already have an account?
          <a routerLink="/login" class="text-decoration-none text-primary">Login</a>
        </div>
      </div>
    </div>

    <!-- Right Side -->
    <div class="login-right d-none d-md-block">
      <div class="overlay-text">
        <h2>Join PropZone Today</h2>
        <p>Start your journey with thousands of happy users.</p>
      </div>
    </div>
  </div>
</div>
