.navbar {
  background-color: transparent !important;
  width: 100%;
  z-index: 1500;   
  padding: 0.75rem 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-brand span {
  color: #0FC2B4;
}

.navbar .nav-span{
  color: #fff !important;
  font-weight: 600;
  font-size: 18px;

}

.navbar .nav-link {
  position: relative;
  color: #fff !important;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}


.navbar .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after,
.navbar .nav-link.router-link-active::after {
  width: 100%;
}


.navbar .navbar-toggler {
  border: 2px solid #ffffff;
}

.navbar .nav-user-name{
  font-weight: 600;
  font-size: 16px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .dropdown-toggle::after {
  content: none !important;
}

.navbar .dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
}

.btn-login {
  background-color: #ffffff;
  color: #088178;
  font-weight: 600;
  border-radius: 7px;
  padding: 6px 16px;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-login:hover {
  background-color: #e0f7f4;
  color: #065f5b;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#mainNavbar.scrolled {
  background-color: #088178  !important;
  /* background-color: #298e87 !important; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }
}
