/* Horizontal + vertical scrolling */
.custom-scroll-wrapper {
  max-height: 800px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 0.5rem;
}

/* Sticky header */
.sticky-header th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #088178;
  color: #fff;
}

.hover-table {
  min-width: 800px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.5rem;
  table-layout: auto;
}

.hover-table th {
  font-weight: 600;
  font-size: 18px;
  padding: 12px;
  font-size: 17px;
}

.hover-table td {
  vertical-align: top;
  padding: 12px;
  font-size: 15px;
}

.hover-table td .fw-semibold {
  color: #2339b0;
}

.hover-table td button {
  text-decoration: none;
  font-size: 13px;
  padding: 3px 6px;
}

.hover-table td.date {
  font-size: 13px;
}

.hover-table .hover-scale {
  transition: all 0.3s ease;
}

.hover-table .hover-scale:hover {
  transform: scale(1.015);
  box-shadow: 0 0 0 1px #d9d9d9;
}

.hover-table .hover-scale:hover td {
  background-color: #e9ebfa !important;
  color: #18106e;
}

/* Responsive padding adjustments */
@media (max-width: 576px) {
  .hover-table th,
  .hover-table td {
    font-size: 13px;
    padding: 8px;
  }

  .custom-scroll-wrapper{
    margin: 8px;
  }
}


