<div class="container mt-4">
  <div class="text-center mb-2">
    <h3 class="mb-2">List Your Property for Sale or Rent</h3>
    <p >Reach thousands of buyers & renters easily.</p>
  </div>

  <!-- Step 1 -->
  <ng-container *ngIf="step === 1">
    <div class="row g-5 align-items-start mt-4">
      
      <!-- Guidelines  -->
      <div class="col-12 col-md-6">
        <app-lister-guidelines></app-lister-guidelines>
      </div>

      <!-- Metadata Form -->
      <div class="col-12 col-md-6">
        <!-- Stepper -->
        <div class="mb-4 text-center">
          <div class="d-flex justify-content-center align-items-center gap-4 mb-2">
            <div class="step-circle active">1</div>
            <div class="step-line"></div>
            <div class="step-circle">2</div>
          </div>
          <div class="text-muted mb-2">
            Step 1 of 2: <strong>Basic Info</strong>
          </div>
          <div class="text-center mb-4">
            <h5 class="fw-semibold">
              Choose listing role, purpose & type
            </h5>
          </div>
        </div>

        <!-- Form -->
        <app-post-property-metadata (next)="handleStep1Complete($event)"></app-post-property-metadata>
      </div>
    </div>
  </ng-container>

  <!-- Step 2 -->
  <ng-container *ngIf="step === 2">
    <!-- Stepper Heading -->
    <div class="mb-4 text-center">
      <div class="d-flex justify-content-center align-items-center gap-4 mb-2">
        <div class="step-circle">1</div>
        <div class="step-line"></div>
        <div class="step-circle active">2</div>
      </div>
      <div class="text-muted mb-2">
        Step 2 of 2: <strong>Fill Property Details</strong>
      </div>
    </div>

    <!-- Property Form -->
    <app-post-property-form (back)="backToStep1()"></app-post-property-form>
  </ng-container>
</div>
